<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsKYmMJOLE9kgrMfur6zSst9G0UjEAcZI</string>
	<key>GCM_SENDER_ID</key>
	<string>528012246014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sutraoone.vegifood.vegifood</string>
	<key>PROJECT_ID</key>
	<string>vegifood-6bfec</string>
	<key>STORAGE_BUCKET</key>
	<string>vegifood-6bfec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528012246014:ios:548b74002590b328d41eaf</string>
</dict>
</plist>